html {
    direction: rtl;
    font-size: 140%;
}
hr {
    /*margin: 2rem 0;*/
}

.bible-columns-wrapper {
    display: flex;
    height: 25rem;
}
.bible-columns-wrapper-LettersToHtml_Pair {
}
.bible-columns-wrapper-LettersToHtml_PairSumDiff {
}
.bible-columns-wrapper-LettersToHtml_Simple {
}

.bible-column {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 1.1rem;
    text-align: center;
    border-right: 1px solid #eee;
}

/* ============================================================================
 * Base column-part classes - shared by all LettersToHtml_* visualizers
 * (LettersToHtml_Pair, LettersToHtml_Simple, ...).
 * ========================================================================== */

/* A "bar" (extension) above/below a letter. */
.bible-column-bar {
    position: relative;
    flex-basis: 50%;
}
.bible-column-bar[data-letter=" "] {
    background-color: #eee;
    opacity: 0.5;
}
.bible-column-bar[data-letter="־"] {
    background-color: #eee;
    opacity: 0.5;
}
.bible-column-bar[data-letter="׃"] {
    background-color: #eee;
    opacity: 0.5;
}
/*
.bible-column-bar[data-letter="י"] {
    background-color: #eee;
    opacity: 0.5;
}
.bible-column-bar[data-letter="וּ"] {
    background-color: #eee;
    opacity: 0.5;
}
.bible-column-bar[data-letter="וֹ"] {
    background-color: #eee;
    opacity: 0.5;
}
*/


.bible-column-bar-upper {
}
.bible-column-bar-upper .bible-column-marker-1 {
    bottom: calc(50% + (50% - 0.6rem) * var(--var-0-to-1));
}
.bible-column-bar-upper .bible-column-marker-2 {
    bottom: calc((50% - 0.6rem) * var(--var-0-to-1));
}

.bible-column-letter {
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.0rem;
}
.bible-column-letter-upper {
    align-self: flex-start;
}
.bible-column-letter-lower {
    align-self: flex-end;
}

.bible-column-bar-lower {
}
.bible-column-bar-lower .bible-column-marker-1 {
    top: calc((50% - 0.6rem) * var(--var-0-to-1));
}
.bible-column-bar-lower .bible-column-marker-2 {
    top: calc(50% + (50% - 0.6rem) * var(--var-0-to-1));
}

.bible-column-marker {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #888;
    margin: 0 auto;
    left: 0.25rem;
}

.bible-column-bar[data-letter="SPLIT"] {
    background: yellow;
    width: 0 !important;
}
.bible-column-letter[data-letter="SPLIT"] {
    background: yellow;
    width: 0 !important;
    padding: 0 !important;
}
.bible-column-split {
    position: absolute;
    width: 100vw;
    height: 1px;
    background: var(--var-color);
    top: calc(100% * var(--var-0-to-1));
    z-index: 1000;
}