.DS_Store
.idea/
!.idea/modules.xml
!.idea/compiler.xml
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/vcs.xml
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
*.log
.logs/
node_modules/
/_DELIBERATION-ROOM/.meetings/
/_DELIBERATION-ROOM/public/compiled-style.css
/_RTL-EDITOR/node_modules/
/_MCP-SERVER/node_modules
_scratch*.md
/claude-code-semitic-linguist
