:root {
    --display-mode: desktop;
    --footer-height: 0; /* calculated dynamically */
    --central-area-height: 0; /* calculated dynamically */
}

body {
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    /* #_MOBILE_FIX_# not using these because it doesn't work well on mobile (the footer is pushed out of screen due to the top-address-bar):
    display: flex;
    flex-direction: column;
    height: 100vh;
    */
}

.hidden {
    display: none !important;
}

.error-message {
    color: red;
    font-weight: bold;
}

/* -------- main flex-column -------- */

.central-area {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    height: var(--central-area-height);
}

.footer {
    position: fixed; /* #_MOBILE_FIX_# this is critical for mobile */
    bottom: 0;

    flex: 0;
    width: 100vw;
    border-top: 1px solid gray;
    background: rgba(128,128,128,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    padding-left: 10px;
}

/* -------- central-area flex-row -------- */

.central-left {
    flex: 0 0 auto;
    width: 30vw;
    min-width: 10vw;
    max-width: 90vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.splitter {
    width: 5px;
    background: #444;
    cursor: col-resize;
    user-select: none;
    flex-shrink: 0;
}

.splitter:hover,
.splitter.dragging {
    background: #007acc;
}

.central-right {
    direction: ltr; /* switch the scrollbar side */
    overflow: auto;
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    background: white;
}

/* CSS rules for Mobile (where the viewport width is small) */
@media (max-width: 768px) {
    body {
        --display-mode: mobile;
    }

    .central-area {
        flex-direction: column-reverse;
    }

    .central-left {
        width: initial;
        min-width: initial;
        max-width: initial;
        height: 30vh;
        min-height: calc(0.1 * var(--central-area-height));
        max-height: calc(0.9 * var(--central-area-height));
    }

    .splitter {
        width: initial;
        height: 5px;
        cursor: row-resize;
    }

    .central-right {
        min-width: initial;
        min-height: 0;
    }
}

/* -------- TOC (table-of-contents) -------- */

#bible-toc {
    margin: 10px 10px 0 10px;
}
#bible-toc-books {
}
.bible-toc-books-section {
}
.bible-toc-book {
    display: inline-block;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin: 0 5px;
}
.bible-toc-book.bible-toc-book-unloaded {
    user-select: none;
    pointer-events: none;
    color: rgba(128,128,128,0.5);
    text-decoration: none;
    cursor: default;
}
.bible-toc-book-selected {
    background: rgba(128,128,128,0.2);
}
#bible-toc-chapters {
    border: 1px solid rgba(128,128,128,0.5);
    margin-top: 10px;
    display: none; /* first click on a book-name will make the chapters-box visible */
}
.bible-toc-chapter {
    display: inline-block;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin: 0 5px;
    visibility: hidden;
}
.bible-toc-chapter.bible-toc-chapter-visible {
    visibility: visible;
}

/* -------- verses -------- */

#verses-container {
    direction: rtl;
}

.book-header {
    border: 2px solid black;
    background: rgba(128,128,128,0.1);
    font-size: 200%;
    text-align: center;
    margin: 2em 1em 0 2em;
}

.chapter-header {
    font-size: 150%;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    margin: 1em 0 0.5em 0;
    white-space: pre;
}

.verse {
    margin: 0 5px;
}
.verse:hover {
    background: rgba(128,128,128,0.2);
}

.highlighted-word {
    background-color: rgba(96,96,255,0.2);
}

/*
 * After a search, inside #verses-container, every <div class='verse'> that matches the search,
 *  gets a previous-sibling with the class 'highlighted-verse' - that contains the highlighted words.
 * The following CSS rule hides all non-highlighted verses that immediately follow a highlighted verse.
 */
#verses-container .highlighted-verse + .verse:not(.highlighted-verse) {
    display: none;
}

/* -------- footer -------- */

.footer-search-and-message-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100vw - 100px);
    margin-left: 10px;
}

#bottom-message-bar {
    flex: 0;
    white-space: pre;
    padding: 0 0.5em;
    width: 100%;
    display: flex;
    align-items: center;
}

.bottom-bar-location-text {
}

.search-input-wrapper {
     position: relative;
     width: 100%;
}

#recent-searches {
    display: none; /* only visible when the search-box has the focus */
    position: absolute;
    border: 1px solid black;
    background: white;
    width: 100%;
    max-height: calc(100vh - 4em);
    overflow: auto;
    bottom: 1.3em;
    padding: 2px 5px;
}
.recent-search-text {
     cursor: pointer;
     white-space: pre-wrap;
     font-family: monospace;
}
.recent-search-text.focused {
     background-color: rgba(128,128,128,0.2);
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3em;
    padding: 0.3em;
    box-sizing: border-box;
}

.footer-icon {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
    width: 1.1em;
    height: 1.1em;
    text-align: center;
}

.info-icon {
    transition: background-color 0.3s ease;
    position: relative; /* for the attention-bubble placement */
    overflow: initial !important;
}

.icon-disabled {
    position: absolute;
    transform: translateX(-0.1em) translateY(-0.3em) rotate(45deg);
    font-size: 150%;
    font-weight: 500;
}

.search-trash-icon .footer-icon-inner {
    transform: translateY(-0.05em) translateX(-0.05em);
}
.scroll-top-icon .footer-icon-inner {
    transform: translateY(-0.05em);
}
.info-icon .footer-icon-inner {
}
.locations-icon .footer-icon-inner {
    transform: translateY(-0.15em);
    font-weight: 900;
}
.accents-icon .footer-icon-inner {
    /* in order to show the accent-unicode, it MUST be preceded by a Hebrew letter, which we don't want to show */
    transform: translateY(-1.6em) translateX(0.05em) scale(3);
}
.points-icon .footer-icon-inner {
    /* in order to show the point-unicode, it MUST be preceded by a Hebrew letter, which we don't want to show */
    transform: translateY(-1.6em) translateX(-0.1em) scale(3);
    font-weight: 100;
}

/* -------- info-icon's attention-bubble -------- */

/* The speech bubble */
.info-attention-bubble {
    position: absolute;
    bottom: 2em;
    left: -0.3em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 0.9em;
    white-space: nowrap;
    animation: colorShift 2s infinite ease-in-out;
    transition: opacity 0.3s ease;
}
@keyframes colorShift {
    0%   { background-color: #fcc; }
    50%  { background-color: white; }
    100% { background-color: #fcc; }
}
.info-attention-bubble::after { /* The little triangle pointing to the icon */
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0.4em;
    width: 0;
    height: 0;
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.info-attention-bubble-header {
    font-weight: bold;
    text-decoration: underline;
}
.info-dialog-icons .info-attention-bubble {
    display: none; /* don't show the bubble inside the info-dialog's icons-legend */
}

/* -------- search-bar -------- */

.search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 0.5em 0.1em 0.5em;
    width: 100%;
}
#search-input {
    width: 100%;
    font-family: monospace;
}
.search-button {
    cursor: pointer;
}
.search-results {
}
.recently-clicked-verse {
    background: rgba(128,128,128,0.2) !important;
}

.search-message {
    background: rgba(128,128,128,0.2);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    white-space: pre;
    padding: 0 5px;
}
.search-message + .search-message {
    border-top: none;
}
.search-message + :not(.search-message) {
    margin-top: 0.5em;
}
.search-message code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}
.search-result-regexp {
    direction: ltr;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

/* lines between results, and a bit of vertical margins */
.search-results .verse {
    border-top: 1px solid gray;
    padding-bottom: 2px;
}
.search-results .highlighted-word {
    padding-bottom: 2px;
}
.search-results .verse:last-child {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

/* -------- info-dialog -------- */

#info-dialog {
    top: 0;
    bottom: 0;
    padding: 0;
}

#info-dialog ul {
    margin-top: 0;
}

.info-dialog-main {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
}

.info-dialog-top-bar.info-dialog-h1 {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 10px;
    margin: 0 0 10px 0;
}
.info-dialog-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 10px 10px 10px;
}
.info-dialog-email {
    text-align: center;
}
.info-dialog-footer {
    position: sticky;
    bottom: 0;
    background-color: white;
    text-align: center;
}
.info-dialog-close-button {
    background-color: rgba(128,128,128,0.5);
    padding: 2px 10px;
    margin: 5px;
}

.info-dialog-h1 {
    font-size: 200%;
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bdc3c7;
}
.info-dialog-h2 {
    font-size: 130%;
    color: #7f8c8d;
    margin-top: 20px;
    margin-bottom: 10px;
}
#info-dialog strong {
    display: inline-block;
}
#info-dialog code {
    background-color: rgba(128,128,128,0.2);
    border-radius: 3px;
    font-family: monospace;
    white-space: pre;
    display: inline-block;
}
#info-dialog ul.examples {
    list-style-type: disclosure-closed;
}

.info-dialog-footer-icon {
    margin: 0 1em 3px 0;
    display: flex;
    gap: 0.5em;
}

/* -------- copy verse -------- */

.copy-verse-icon {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-right: 5px;
    animation: brief-red-glow 0.1s ease-out forwards;
}
.copy-verse-icon.copy-verse-and-location-icon {
    margin-right: 10px;
}
.copy-verse-and-location-icon .copy-verse-icon-inner {
    transform: translateY(-0.14em) translateX(0.02em);
    font-size: 60%;
}
.copy-verse-only-icon .copy-verse-icon-inner {
    transform: translateY(-0.14em);
}
.copy-verse-location-only-icon .copy-verse-icon-inner {
    transform: translateY(-0.2em);
}
@keyframes brief-red-glow {
    0%  { box-shadow: 0 0 2px 2px red; border-color: red; }
}

.copied-text-dialog {
    margin: auto;
    padding: 0.2em 0.4em;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
